{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <header class="post-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ page.title }}</h1>
              {% if page.subtitle %}
	            <h2 class="subheading">{{ page.subtitle }}</h2>
	          {% endif %}
              <span class="meta">Posted by
                <a href="#">Bryan Hinchliffe</a> on {{ page.date }}</span>
                <hr>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto post-content">
            {% for block in page.body %}
              {% include_block block %}
                {% if block.block_type == 'image' %}
                  <span class="caption text-muted">{{ block.value.caption }}</span>
                {% endif %}
            {% endfor %}
           </div>
        </div>
      </div>
    </article>

{% endblock %}